body{

margin:0;
background:#0d1b2a;
font-family:Arial;
color:white;

}

header{

display:flex;
align-items:center;
padding:20px;
background:#1b263b;

}

.logo{

width:90px;
margin-right:20px;

}

.estado{

text-align:center;
font-size:24px;
padding:10px;
background:#1d3557;

}

.contenedor{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(220px,1fr));

gap:20px;

padding:20px;

}

.card{

background:white;

color:#111;

padding:20px;

border-radius:15px;

box-shadow:0 0 15px rgba(0,0,0,.3);

text-align:center;

}

.card p{

font-size:36px;

margin:15px;

font-weight:bold;

}

.alarma{

transition:.5s;

}

.ultima{

text-align:center;

font-size:18px;

padding:20px;

}

.grafico{

width:90%;

margin:auto;

background:white;

padding:20px;

border-radius:15px;

}