.alarma-activa {
    animation: parpadeoAlarma 0.8s infinite;
    border: 3px solid red;
}

@keyframes parpadeoAlarma {

    0% {
        background: white;
    }

    50% {
        background: #ff3333;
        color: white;
    }

    100% {
        background: white;
    }
}